# Server
PORT=8000

# Database Configuration
DATABASE_URL=postgresql+psycopg://postgres:postgres@db:5432/growthos

# JWT
JWT_SECRET_KEY=your_secret_key_here
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7